$primary10: #d1e0f8;
$primary20: #b0caf2;
$primary30: #90b5ed;
$primary40: #6f9fe7;
$primary50: #4f89e2;
$primary60: #3f79c6;
$primary70: #306aab;
$primary80: #205a8f;
$primary90: #114b74;
$primary100: #013b58;

$text10: #fdfeff;
$text20: #c7dbe9;
$text30: #9cb9c8;
$text40: #4f7a90;
$text50: #013b58;

$surfaceLight10: #ffffff;
$surfaceLight20: #fdfeff;
$surfaceLight30: #f5f8fc;
$surfaceLight40: #e9f3fe;
$surfaceLight50: #e3f1ff;

$surfaceDark10: #c8c4be;
$surfaceDark20: #acaaa7;
$surfaceDark30: #7c7b78;
$surfaceDark40: #52504d;
$surfaceDark50: #2c2926;

$danger10: #fff0f0;
$danger20: #ff837c;
$danger30: #ff3124;
$danger40: #b41f16;
$danger50: #7b120b;

$info10: #eaf5ff;
$info20: #6fb0fc;
$info30: #1169f7;
$info40: #083cb1;
$info50: #031d76;

$warning10: #fffbe5;
$warning20: #ffdc73;
$warning30: #f2b500;
$warning40: #e5b217;
$warning50: #99770f;

$success10: #f6ffea;
$success20: #c6dfa1;
$success30: #7eac39;
$success40: #5d7f2a;
$success50: #435c1f;
